{% extends 'app1/base.html' %}
{%load static %}
{%block content%}
<!--about-part start-->
<section class="about-part service-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>service</h2>
			<div class="about-part-content">
				<div class="breadcrumbs">
					<div class="container">
						<ol class="breadcrumb">
							<li><a href="{% url 'app1:index'%}">Accueil</a><span>//</span></li>
							<li><a href="{% url 'app1:service'%}">service</a></li>
						</ol>
						<!--/.breadcrumb-->
					</div>
					<!--/.container-->
				</div>
				<!--/.breadcrumbs-->
			</div>
			<!--/.about-part-content-->
		</div>
		<!--/.about-part-details-->
	</div>
	<!--/.container-->
</section>
<!--/.about-part-->
<!--about-part end-->

<!--service start-->
<section class="service">
	<div class="container">
		<div class="service-details">
			<div class="section-header text-center">
				<h2>LES SECTEURS D'ACTIVITES</h2>
				<p>
					Diligence, fraicheur et expérience à votre service pour votre plus grande satisfaction quel que soit
					votre secteur.
				</p>
			</div>
			<!--/.section-header-->
			<div class="aproache">
				<div><img src="{%static 'assets/images/service/approach.png'%}"></div>
				<p class="approach-text">Nous vous accompagnons dans les différentes phases de votre projet</p>
			</div><!-- approche-->
		</div>
		<div class="service-content-one">
			<!--/. service-content -one -->
			<div class="row">
				<!--/.row-->
				<div class="col-sm-4 col-xs-12">
					<!--/.col -->
					<div class="card text-center shadow" style="width: 33rem;">
						<!--/.card-->
						<img src="{%static 'assets/images/service/service1.jpg'%}" class="card-img-top" />
						<div class="card-body ">
							<h5 class="card-title">FORMATION PROFESSIONNELLE</h5>
							<p class="card-text">
								Permet d’accroître le taux de rendement de l’entreprise par l’apprentissage de nouvelles
								connaissances aux employés</p>
							<a href="{% url 'app1:formation'%}" class="btn btn-primary project-view">Lire Plus</a>
						</div>
					</div>
					<!--/.card-->
				</div>
				<!--/. col -->
				<div class="col-sm-4 col-xs-12">
					<!--/.col -->
					<div class="card text-center shadow" style="width: 33rem;">
						<!--/.card-->
						<img src="{%static 'assets/images/service/service2.jpg'%}" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">CONSEIL DE GESTION</h5>
							<p class="card-text">Pour les choix stratégiques de l'entreprise, Pour apporter des
								solutions à
								des entreprises en difficultés.</p>
							<a href="{% url 'app1:consielgestion'%}" class="btn btn-primary project-view">Lire Plus</a>
						</div>
					</div>
					<!--/.card-->
				</div>
				<!--/. col -->
				<div class="col-sm-4 col-xs-12">
					<!--/.col -->
					<div class="card text-center shadow" style="width: 33rem;">
						<!--/.card-->
						<img src="{%static 'assets/images/service/service3.jpg'%}" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">Productions De Films</h5>
							<p class="card-text">Pour la conception et de la réalisation des œuvres audiovisuelles
								telles
								que les films, les vidéos</p>
							<a href="{% url 'app1:productionsdefilms'%}" class="btn btn-primary project-view">Lire
								Plus</a>
						</div>
					</div>
					<!--/.card-->
				</div>
				<!--/. col -->
			</div>
			<!--/.row-->
		</div>
		<!--/. service-content -one -->
		<div class="service-content-two">
			<!--/. service-content -one -->
			<div class="row justify-content-center">
				<!--/.row-->
				<div class="col-sm-4 col-xs-12">
					<!--/.col -->
					<div class="card text-center shadow" style="width: 33rem;">
						<!--/.card-->
						<img src="{%static 'assets/images/service/service4.jpg'%}" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">Imports Et Exports</h5>
							<p class="card-text">Pour aider l’entreprise à acquérir des produit en provenance de
								l'étranger
								ou à vendre des produits nationaux à
								l'étranger.</p>
							<a href="{% url 'app1:importexport'%}" class="btn btn-primary project-view">Lire Plus</a>
						</div>
					</div>
					<!--/.card-->
				</div>
				<!--/. col -->
				<div class="col-sm-4 col-xs-12">
					<!--/.col -->
					<div class="card text-center shadow" style="width: 33rem;">
						<!--/.card-->
						<img src="{%static 'assets/images/service/service5.jpg'%}" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">Assistances Techniques En Trasport Et Logistique</h5>
							<p class="card-text">Pour nous occuper de toutes les actions liées à la chaîne logistique de
								l'entreprise, de la préparation à la livraison
								en respectant le cahier des charges de manière précise.</p>

							<a href="" class="btn btn-primary project-view">Lire Plus</a>

						</div>
					</div>
					<!--/.card-->
				</div>
				<!--/. col -->
				<div class="col-sm-4 col-xs-12">
					<!--/.col -->
					<div class="card text-center shadow" style="width: 33rem;">
						<!--/.card-->
						<img src="{%static 'assets/images/service/service6.jpg'%}" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">Bureau D'études</h5>
							<p class="card-text">Pour orienter et justifier les choix structurels et techniques d'un
								projet
								au sein de l’entreprise que ce soit dans le
								domaine des affaires, du management de l’audit ou de l’architecture.</p>
							<a href="" class="btn btn-primary project-view">Lire Plus</a>
						</div>
					</div>
					<!--/.card-->
				</div>
				<!--/. col -->
			</div>
			<!--/.row-->
		</div>
	</div>
	<!--/.container-->
</section>

{%endblock%}